// Specific CSS for your home-page
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* altura mínima da tela */
}

main {
  flex: 1; /* vai ocupar o máximo de espaço disponível */
}

/* Footer estilizado */
footer {
  background-color: #222;
  color: white;
  padding: 20px;
  text-align: center;
}
