  <footer>
    <div class="container">
      <p>© 2025 Pet Care. Todos os direitos reservados.</p>
      <nav class="d-inline">
        <%= link_to "Sobre |", about_path, class: "nav-link d-inline" %>
        <%= link_to "Como funciona |", how_it_works_path, class: "nav-link d-inline" %>
        <%= link_to "Trabalhe conosco |", work_with_us_path, class: "nav-link d-inline" %>
        <%= link_to "Política de Privacidade", privacy_path, class: "nav-link d-inline" %>
      </nav>
    </div>
  </footer>