<div class="container p-4">
  <h1>Trabalhe Conosco</h1>
  <p>Junte-se à nossa equipe de cuidadores apaixonados por animais! Na PetCare, você pode oferecer seus serviços, escolher sua disponibilidade e receber por cuidar de pets.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget varius tortor. Donec convallis mi vel faucibus malesuada. Vivamus fermentum, metus in feugiat fermentum, justo massa suscipit lacus, nec commodo nunc nunc at elit. Morbi quis turpis ac lacus tincidunt suscipit. Nam ultricies, urna sit amet facilisis volutpat, nibh sapien facilisis libero, a feugiat mauris velit eget purus. Integer at leo non augue varius euismod. Curabitur tincidunt, ligula nec feugiat iaculis, urna orci feugiat turpis, in cursus erat nibh nec est.
  </p>
</div>